<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">


   <!-- bean definition & AOP specific configuration -->

<bean name="triangle" class="com.shivam.spring_aop.model.Triangle">
	<property name="name" value="Triangle Name"></property>
</bean>

<bean name="circle" class="com.shivam.spring_aop.model.Circle">
	<property name="name" value="Circle Name"></property>
</bean>

<bean name="shapeservice_id" class="com.shivam.spring_aop.service.ShapeService" autowire="byName">

</bean>


</beans>
